<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="Everlon Passos">
            <meta name="twitter:site" content="@everlon_passos">

            <link rel="stylesheet" href="{{ app.assets.css }}/uikit.min.css">

            <script src="{{ app.assets.js }}/jquery-2.2.1.min.js"></script>
            <script src="{{ app.assets.js }}/uikit.min.js"></script>
            <script src="{{ app.assets.js }}/pagination.min.js"></script>

            <title>Longevo</title>
        </head>

    <body>
        <div id="nav">{% include 'nav.twig' %}</div>

        <div class="uk-width-9-10 uk-container-center uk-margin-top">
            {% block body %}
                {% block content %} {% endblock %}
            {% endblock %}
        </div>

        <hr>
        <footer class="uk-width-medium-1-2 uk-container-center uk-text-center uk-margin-large">
            &copy;{{ "now"|date("Y") }} - <a href="http://www.everlon.com.br" target="_blank">Everlon Passos</a>
            </p>
        </footer>

    </body>
</html>