<nav class="uk-navbar" style="z-index:989; padding:10px 0;" data-uk-sticky>
    <div><a href="{{ path('home') }}" class="uk-navbar-brand">Longevo</a></div>
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li><a href="{{ path('home') }}" title="Chamados">Chamados</a></li>
            <li><a href="{{ path('new') }}" title="Equipe">Novo chamado</a></li>
        </ul>
    </div>
</nav>