{% extends "base.twig" %}

{% block body %}
    {% block content %}

        <h1>SAC</h1>

        <form id="form" action="{{ path('sac_submit') }}" class="uk-form" method="post">
            <div class="uk-form-row">
                <label>Número do pedido</label> <br>
                <input type="text" name="number" id="number" class="uk-width-1-1 uk-form-large" placeholder="Número do pedido">
                {% if msg is defined %}
                    <div class="uk-alert uk-alert-danger uk-animation-shake" data-uk-alert>
                        <a href="" class="uk-alert-close uk-close"></a>
                        {{ msg|raw }}
                    </div>
                {% endif %}
                <div id="result"></div>
            </div>

            <div class="uk-form-row">
                <label>Nome completo</label> <br>
                <input type="text" name="name" class="uk-width-1-1 uk-form-large" placeholder="Nome completo">
            </div>

            <div class="uk-form-row">
                <label>E-mail</label> <br>
                <input type="email" name="email" class="uk-width-1-1 uk-form-large" placeholder="E-mail">
            </div>

            <div class="uk-form-row">
                <label>Título</label> <br>
                <input type="text" name="title" class="uk-width-1-1 uk-form-large" placeholder="Título">
            </div>

            <div class="uk-form-row">
                <label>Observação</label> <br>
                <textarea name="observation" rows="5" class="uk-width-1-1 uk-form-large" placeholder="Observação"></textarea>
            </div>

            <div class="uk-form-row">
                <button id="btn-submit" type="submit" class="uk-width-1-3 uk-button uk-button-large uk-button-primary" disabled>Enviar</button>
            </div>

        </form>


        <script type="text/javascript">
            $("#number").keyup(function() {
                var user_name = $('#number').val();
                var post_data = { 'number':user_name };
                $.post('get_number', post_data, function(response) {
                    if(response.error == false) {
                        $("#result").hide().html('').slideDown();
                        $('#number').addClass('uk-form-success');
                        $('#number').removeClass('uk-form-danger');
                        $('#btn-submit').removeAttr("disabled"); // Habilitar e desabilitar envio do formulário com JS (submit)
                        console.log( response.data );
                    } else {
                        $("#result").show().html('<div class="uk-alert uk-alert-danger">Pedido não encontrado.</div>').slideDown();
                        $('#number').removeClass('uk-form-success');
                        $('#number').addClass('uk-form-danger');
                        $('#btn-submit').attr("disabled", "disabled"); // Habilitar e desabilitar envio do formulário com JS (submit)
                    }
                }, 'json');
            });
            $("#number").focusout(function() {
                $("#result").hide().html('').slideDown();
            });

            $('#number').on('input', function (event) {
                this.value = this.value.replace(/[^0-9]/g, '');
            });
        </script>

    {% endblock %}
{% endblock %}