{% extends "base.twig" %}

{% block body %}
    {% block content %}

        <h1>Chamados</h1>


            <div class="uk-width-1-1 uk-text-right">
                <form id="form-grid" class="uk-form" action="{{ path('home') }}" method="post">

                    <div class="uk-button-dropdown uk-text-left uk-hidden-small" data-uk-dropdown="{mode:'click'}">
                        <a class="uk-button">Listar <i class="uk-icon-caret-down"></i></a>
                        <div class="uk-dropdown uk-dropdown-small">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li><a href="{{ path('home', {'qnt':  5 }) }}" onclick="">5</a></li>
                                <li><a href="{{ path('home', {'qnt': 10 }) }}" onclick="">10</a></li>
                                <li><a href="{{ path('home', {'qnt': 30 }) }}" onclick="">30</a></li>
                                <li><a href="{{ path('home', {'qnt': 50 }) }}" onclick="">50</a></li>
                            </ul>
                        </div>
                    </div>
                    &nbsp;

                    <div class="uk-form-icon uk-width-small-1-2 uk-width-medium-2-6">
                        <i class="uk-icon-search"></i>
                        <input class="uk-width-1-1" type="text" name="busca" placeholder="Buscar < Enter >">
                    </div>
                    &nbsp;
                    <a class="uk-button uk-button-primary uk-width-small-1-3 uk-width-medium-1-6" href="{{ path('new') }}">Novo</a>
                </form>
            </div>

            {% if msg is not empty %}
                <h3 class="uk-text-muted">{{ msg }} | <a class="uk-text-small uk-text-primary" href="{{ path('home') }}">Cancela</a></h3>
            {% endif %}

            {% if data|length > 0 %}
            <table id="table-clientes" class="uk-table uk-table-striped">
                <thead>
                    <tr>
                        <th style="width:30px">Pedido</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Título</th>
                        <th style="width:150px">Data</th>
                    </tr>
                </thead>

                <tbody>
                    {% for campo in data %}
                    <tr>
                        <td class="uk-text-center">{{ campo.pedido }}</td>
                        <td>{{ campo.cliente|raw }}</td>
                        <td>{{ campo.email }}</td>
                        <td>{{ campo.title }}</td>
                        <td>{{ campo.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            {% if msg is empty %}
                {% if (pagination.count > pagination.qnt and data|length < pagination.count) %}
                    <ul class="uk-pagination" data-uk-pagination="{items:{{ pagination.count }}, itemsOnPage: {{ pagination.qnt }}, currentPage: {{ pagination.pag }} }"></ul>
                {% endif %}
            {% endif %}

            {% else %}
                <p>Nenhum chamado encontrado</p>
            {% endif %}

    <script type="text/javascript">
        // Paginação
        $('[data-uk-pagination]').on('select.uk.pagination', function(e, pageIndex) {
            window.location.href = "{{ path('home') }}?pag="+(pageIndex)+"&qnt={{ pagination.qnt }}";
        });
    </script>


    {% endblock %}
{% endblock %}